<a href="https://colab.research.google.com/github/Trisha81/AIML-2025/blob/main/Lab01_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab-01:Introduction to Python, Matplotlib ,Numpy

Introduction to Python Packages - Numpy, Pandas, Matplotlib, and Access to Data Sources

Part 1:Implement basic data structures using Numpy ,Pandas

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd



list1 =[1,2,3,4]
array1 = np.array(list1)
array1
array2 = np.array([1,2,3,4])
list1 ,array1,array2

([1, 2, 3, 4], array([1, 2, 3, 4]), array([1, 2, 3, 4]))