<a href="https://colab.research.google.com/github/Trisha81/AIML-2025/blob/main/Lab01_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab-01:Introduction to Python, Matplotlib ,Numpy

Introduction to Python Packages - Numpy, Pandas, Matplotlib, and Access to Data Sources

Part 1:Implement basic data structures using Numpy ,Pandas

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd



list1 =[1,2,3,4]
array1 = np.array(list1)
array1
array2 = np.array([1,2,3,4])
list1 ,array1,array2

([1, 2, 3, 4], array([1, 2, 3, 4]), array([1, 2, 3, 4]))

In [2]:
#Identify the type of Data Structure
type(list1), type(array1), type(array2)

(list, numpy.ndarray, numpy.ndarray)

In [7]:
## Perform mathematical operations on arrays,lists
print("Adding two arrays : ", array1 + array2)
print("Subraction of two arrays :", array1 - array2)
print("Multiplying two array : ",array1 * array2)
print("Dividing two arrays : ",array1 /array2 )
print("exponentiating two : ",array1**array2)
print("Multiply an array to list: ",array2*list1)

Adding two arrays :  [2 4 6 8]
Subraction of two arrays : [0 0 0 0]
Multiplying two array :  [ 1  4  9 16]
Dividing two arrays :  [1. 1. 1. 1.]
exponentiating two :  [  1   4  27 256]
Multiply an array to list:  [ 1  4  9 16]

In [8]:
#combine text with numpy function
print(f"Adding {array1} with {array2}")
print(f"Result: {np.add(array1,array2)}")

Adding [1 2 3 4] with [1 2 3 4]
Result: [2 4 6 8]

In [12]:
#Find the sin, log ,log2 ,exp values
print(f"Sine value of array1:  {np.sin(array1)}" )
print(f"log value of array1 :  {np.log(array1)}")
print(f" log base 2 value of array1:  {np.log2(array1)}")
print(f" log base 10 value of array1: {np.log10(array1)}")
print(f"exponential value of array1 : {np.exp(array1)}")

Sine value of array1:  [ 0.84147098  0.90929743  0.14112001 -0.7568025 ]
log value of array1 :  [0.         0.69314718 1.09861229 1.38629436]
 log base 2 value of array1:  [0.        1.        1.5849625 2.       ]
 log base 10 value of array1: [0.         0.30103    0.47712125 0.60205999]
exponential value of array1 : [ 2.71828183  7.3890561  20.08553692 54.59815003]

Part 2: Visulalize the data sets using matplotlib libraries